<div class="header">
     <div class="container">
         <h1 class="logo"><a href="/">Jack Facts</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 
                 <li class="element first  ">
                     <a href="/index.html">Home</a>
                 </li> 
                 
                 <li class="element  current ">
                     <a href="/about">About</a>
                 </li> 
                 
                 <li class="element   last">
                     <a href="/contact">Contact</a>
                 </li> 
                 
                 <li> <a href="https://github.com/jackfacts/" target="_blank">GitHub</a></li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->